body {
  background-image:url('assets/img/Bg.png');
  background-color: #F3F3F3;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.redStar{
  position: relative;
    top: 6px;
    margin-right: 5px;
    margin-left: 5px;
}
