@font-face {
  font-family:"kandal";
  src:url("https://use.typekit.net/af/143aab/00000000000000000001739c/27/l?subset_id=2&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/143aab/00000000000000000001739c/27/d?subset_id=2&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/143aab/00000000000000000001739c/27/a?subset_id=2&fvd=n8&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:800;
  }
  
@font-face {font-family: "Stern"; src: url("assets/fonts/CormorantUpright-Regular.ttf"); }

body {
  background-image:url('assets/img/Bg.png');
  background-attachment: fixed;
  background-color: #F3F3F3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.redStar{
  position: relative;
    top: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.red-button > button{
  background-color: #CC3E30;
  box-shadow: 0 0 6px 1px #7E0000;
  border-radius: 10px;  
  width: -webkit-fill-available;
}

.red-button > button:hover{
  background-color: #EC1119; 
  box-shadow: 0 0 6px 1px #7E0000;
  border-radius: 10px;
}

.inline-icons{
  display: inline-flex;
  grid-gap: 0;
}

.icon-margin{
  margin-top: 8px;
}

.star-background{
  background-image: url('assets/img/Gold-star.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inline-icons > .star-background{
  background-image: none;
  width: 80px;
}

.buySteak{
  margin-right: 50px; 
}

.buyHedge{
  margin-left: 50px; 
}

.buySteak, .buyHedge{
  position: relative;
  top: -30px;
  padding: 2px 22px 16px 22px;
  outline: none;
  background-color: #31272699;
  border: 1px solid #424242;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.buySteak:hover, .buyHedge:hover{
  background-color: #DBA24F;
}

.buyLogo{
  position: relative;
  top: 8px;
  left: 6px;
}
